

body {
  font-family: 'Inter', sans-serif;
}

/* ===== Scrollbar (horizontal / vertical) ===== */
pre[class*="language-"]::-webkit-scrollbar {
  height: 8px !important;   /* 가로 스크롤바 높이 */
  width: 8px !important;    /* 세로 스크롤바 너비 */
}

pre[class*="language-"]::-webkit-scrollbar-track {
  background: #2a2a2a !important;   /* 트랙 배경 */
  border-radius: 4px !important;
}

pre[class*="language-"]::-webkit-scrollbar-thumb {
  background: #4a4a4a !important;   /* 스크롤바 색 */
  border-radius: 4px !important;
}

pre[class*="language-"]::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a !important;
}

/* 전체 컨테이너 */
.container {
  width: 1080px;
  margin: 0 auto;
  padding-top: 140px;
  color: #fff;
}


/* 날짜 */
.date {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 24px;
  color: #888888; 
  margin: 0;
 
}

/* 제목 */
.title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 40px;
  letter-spacing: -0.3px;
  line-height: 1.35;
}

/* 썸네일 */
.thumbWrapper {
  width: 100%;
  margin-bottom: 60px;
}

.thumb {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* 본문 영역 */
.content {
  width: 100%;
  font-size: 1.05rem;
  line-height: 1.75;
}

/* 본문 내부 텍스트 정리 */
.content p {
  color: #aba9a9;
  line-height: 1.75;
  font-size: 16px;
  
}


.content h1 {
 font-size: 1.8rem;
  margin-bottom: 1rem;

}

.content h2 {
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

 .content h3 {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
 }



.content a {
  color: #9cb8ff;
  text-decoration: underline;
}


.content pre {
  background: #111;
  padding: 16px;
  border-radius: 8px;
  overflow-x: auto;
  margin-bottom: 24px;
}

.content strong {
  color: #ffffff;
  font-weight: 500;
}

.content a {
  color: #ffffff;
  text-decoration: underline;
  font-weight: 600;
}



/* markdown - : li */
.content>ul>li {
  padding-left: 0.35em;
  position: relative;
}

.content>ul>li::marker {
  color: #f58300;
  font-size: 1em;
}

.content>ul {
  margin-left: -0.8em;
}
/* end */



.content code {
  padding: 3px 6px;
  line-height: 1.6;
  background-color: #1e1e1e;
  color: #f97316;
  font-size: 0.85rem;
  border-radius: 6px;
  font-weight:300;
}

:global(.admonition) {
  padding-left: 20px;
  padding-right: 6px;
  border-radius: 8px;
}

/* NOTE (아이콘 포함) */
:global(.admonition-note) {
  background: #131b2e;
  border: 1px solid #234077;
  color: #e7eaf3;
  border-radius: 8px;
  box-shadow: none;
  margin: 16px 0;
  position: relative;
}

/* NOTE 아이콘 */
:global(.admonition-note .admonition-title::before) {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center; /* 아이콘 중앙 정렬 */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23e7eaf3' fill-rule='evenodd' d='M6.3 5.69a.942.942 0 0 1-.28-.7c0-.28.09-.52.28-.7.19-.18.42-.28.7-.28.28 0 .52.09.7.28.18.19.28.42.28.7 0 .28-.09.52-.28.7a1 1 0 0 1-.7.3c-.28 0-.52-.11-.7-.3zM8 7.99c-.02-.25-.11-.48-.31-.69-.2-.19-.42-.3-.69-.31H6c-.27.02-.48.13-.69.31-.2.2-.3.44-.31.69h1v3c.02.27.11.5.31.69.2.2.42.31.69.31h1c.27 0 .48-.11.69-.31.2-.19.3-.42.31-.69H8V7.98v.01zM7 2.3c-3.14 0-5.7 2.54-5.7 5.68 0 3.14 2.56 5.7 5.7 5.7s5.7-2.55 5.7-5.7c0-3.15-2.56-5.69-5.7-5.69v.01zM7 .98c3.86 0 7 3.14 7 7s-3.14 7-7 7-7-3.12-7-7 3.14-7 7-7z'/%3E%3C/svg%3E");
  vertical-align: middle;
  margin-top: -4px;  
  margin-right: 8px;
}

:global(.admonition-title) {
  color: #ffffff !important;
}



